.ant-form-item-label > label {
  color: black;
  font-size: 20px;
}
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  background-image: none;
}

.ant-switch {
  background-color: gray;
}

.ant-switch-checked {
  background-color: #1890ff !important;
}
.add_film {
  background-color: rgb(24, 144, 255, 0.5);
}
.add_film:hover {
  background-color: #1890ff;
}
