.jss117 {
  color: white;
  height: fit-content;
  background-size: cover;
  background-image: url(../../../../public/images/application.jpg);
  background-position: center;
}
.jss118 {
  height: fit-content;
  margin: auto;
  max-width: 940px;
  padding-top: 60px;
  padding-bottom: 60px;
}
.jss120 {
  font-size: 30px;
  font-weight: 700;
}

.jss122 {
  width: 100%;
  height: 100%;
}
