/* active  button*/
.active_film {
  @apply bg-white text-gray-800;
}
.non_active_film {
  @apply bg-gray-800 text-white;
}
/* arrow  */
.slick-prev:before,
.slick-next:before {
  color: gray;
  font-size: 50px;
}

.slick-prev {
  left: -50px;
}

/* overlay */
.slide-content {
  position: relative;
}

.content-overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  color: white;
  opacity: 0;
  transition: 0.75s;
}
.content-overlay:hover {
  opacity: 1;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 150;
  width: 98.5vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 0, 0, 0.5);
  overflow: hidden;
  -ms-overflow-style: none;
}
