/*Ghế thường*/
.ghe {
  color: rgb(255, 255, 255);
  width: 35px;
  height: 35px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin: 15px;
  background-color: rgb(123, 122, 122);
}

.gheDaDat {
  cursor: no-drop;
  background-color: rgb(232, 76, 76);
}

.gheDangDat {
  background-color: rgb(18, 176, 18) !important;
}

.gheVip {
  background-color: rgb(228, 74, 8);
}
