.register_page {
  background-image: url(../../../public/images/banner-bg.jpg);
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  background-size: contain;
  justify-content: center;
}
.content {
  width: 600px;
  height: fit-content;
  z-index: 1000;
  position: relative;
  border-radius: 6px;
  background-image: linear-gradient(
    to bottom,
    rgba(20, 50, 93, 0.9),
    rgba(8, 22, 48, 0.9)
  );

  color: white;
}

.logo {
  display: flex;
  align-items: center;
  background-size: contain;
  justify-content: center;
}

/* Đè css antd */
.ant-form-item-label > label {
  color: white;
  font-size: 20px;
}

.ant-form-item-label
  > label.ant-form-item-required:not(.ant-form-item-required-mark-optional)::before {
  display: none;
}
